<%- include("layouts/Header"); -%>

<!--Custom CSS-->
     <link href="/css/home-page.css" rel="stylesheet" type="text/css" />
     
       
     <!-- Flatpickr CSS-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/default.css">
    <title>Home Page</title>
  </head>
  <body>
    
    <%- include ("layouts/Sidebar"); -%>
    <div id="page-content-wrapper">
      <div class="upper">
        <div class="text">
          <h3 id="name">Hello </h3>
          <h1>Let's find the best room for your stay</h1>
      </div>
        
        <img src="/img/travel-img.svg" alt="" srcset="">
      </div>
      <div class="container search-bar ">
        <div class="row">
          <div class="section col ">
            <form action="/home-page" method="POST">
           
            <span class="icon"><i class="far fa-calendar-plus"></i></span>
            <input type="text" name="rangeDate" id="rangeDate" placeholder="Select Date Range" data-input>
          </div>
          
          <div class="section col center">
            <select name="roomType" class="form-select" aria-label="Default select example">
  <option selected value="1">Single Room</option>
  <option value="2">Double Room</option>
  <option value="3">Triple Room</option>
</select>
        
          </div>
          <button class="section col find-btn">
            <span class="icon" style="color:white"><i class="fas fa-search"></i></span>
            <span class="text">Find option</span>
          </button>
           </form>
        </div>
      </div>
      <div class="bottom">
      <div class="container">
          <div class="text"><h3>We recommend:</h3></div>
        
        <div class="row room-suggestions">
          <div class="col room">
            <div class="info">
              <div class="type">Deluxe Double Room</div>
              <div class="nr-persons"> <i class="fal fa-user"></i> <i class="fal fa-user"></i></div>
              <div class="rating"> Rating:
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
              </div>
              <div class="price">300$</div>
            </div>
            
            </div>
          <div class="col room">
            
              <div class="info">
              <div class="type">Deluxe Twin Room</div>
              <div class="nr-persons"> <i class="fal fa-user"></i> <i class="fal fa-user"></i></div>
              <div class="rating"> Rating:
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
              </div>
              <div class="price">400$</div>
            </div>
          </div>
          <div class="col room">
            
              <div class="info">
              <div class="type">Premium Twin Room</div>
              <div class="nr-persons"> <i class="fal fa-user"></i> <i class="fal fa-user"></i></div>
              <div class="rating"> Rating:
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="price">300$</div>
            </div>
          </div>
        
      </div>
      </div>
    </div>
  
    <!-- jQuery first,then flatPickr then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--Custom scripts-->
  <script>

    
$("#basicDate").flatpickr({
    enableTime: true,
    dateFormat: "F, d Y H:i"
});
$("#rangeDate").flatpickr({
    mode: 'range',
    dateFormat: "Y-m-d"
});
  </script>
  <script>
  //Function to extract Search Param
      const params = new URL(window.location.href);

console.log(params);
const firstName = params.searchParams.get("firstName")
document.getElementById('name').innerHTML += firstName;
console.log(firstName); // "sai"

  </script>

    
    <%- include("layouts/Footer"); -%>